.ic_wrapper {
    &.hideShadow {
      .ic_card {
        margin-left: 1.5px;
      }
    }
  
    .ic_card {
      margin: 5px;
      border: 1px solid var(--borderColor);
      border-radius: 4px;
      .allImagesBox {
        display: grid;
        grid-template-areas:
          'first first second'
          'first first third';
        // padding: 10px;
        // background-color: var(--lightGray);
        gap: 10px;
        .img_box {
          position: relative;
          min-height: 125px;
          max-height: 125px;
          border-radius: 4px;
          overflow: hidden;
          // box-shadow: var(--shadow-new);
          border: var(--border);
  
          &:first-child {
            min-height: 260px;
            max-height: 260px;
          }
  
          img {
            object-fit: cover;
          }
        }
      }
      .ic_content_box {
        // background-color: var(--lightGray);
        display: flex;
        align-items: flex-end;
        padding: 10px;
        justify-content: space-between;
        border-radius: 0 0 4px 4px;
        color: var(--black);
        .titles {
          
          p {
            margin: 0;
            font-size: 1rem !important;
            font-weight: 500;
  
            &:first-child {
              font-size: 13px;
            }
            &:last-child {
              font-size: 1rem;
            }
          }
        }
        .images_length {
          display: flex;
          gap: 1rem;
          color: var(--secondTextColor);
          p {
            margin: 0;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .ic_wrapper {
      .ic_card {
        .allImagesBox {
          .img_box {
            min-height: 75px;
            max-height: 75px;
            &:first-child {
              min-height: 160px;
              max-height: 160px;
            }
          }
        }
      }
    }
  }
  