.banner_wrapper {
    position: relative;
    width: 80%;
    height: 90px;

    .mobile {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .banner_wrapper {
        width: 100% !important;
        height: 120px;
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none;
    }
}