$space: 15px;
$text-color-1: #212121;
$text-color-2: #172337;
$border: 1px solid #f0f0f0;

.filter_box,
.mobile_filter {
  padding: 0px;
  background-color: var(--white);
  box-shadow: var(--filter-box-shadow);

  .search_div {
    margin-bottom: $space;
    position: relative;

    svg {
      position: absolute;
      top: 3px;
      left: 5px;
    }

    input {
      width: 100%;
      border: 0;
      padding-left: 30px;
      padding-bottom: 5px;
      border-bottom: 2px solid #e0e0e0;

      &:focus-visible {
        outline: none;
        border-color: var(--primary-color);
      }
    }
  }

  .show_more {
    cursor: pointer;
    text-align: center;
    margin-bottom: -5px;
    border-top: $border;
    padding-top: 5px;
    margin-left: -$space;
    margin-right: -$space;
    color: var(--primary-color);
  }

  .body_height {
    max-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
      border-radius: 0;
      background: rgba(0, 0, 0, 0.1);
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 0;
    }
  }

  .reset_filters {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    span {
      padding: 2px 5px;
      border-radius: 2px;
      font-size: 12px;
      background: var(--primary-color);
      color: #fff;
      text-transform: capitalize;
      margin: 5px 0 0 5px;
      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        scale: 1.1;
        text-decoration: line-through;
      }
    }
  }

  :global(.accordion-flush) {
    :global(.accordion-item) {
      border: 0;
      border-bottom: $border;

      :global(.accordion-header) {
        border-bottom: 0;
      }

      :global(.accordion-button) {
        background-color: transparent;
        color: $text-color-1 !important;
        border: 0px;
        padding: 0;
        box-shadow: none;
      }

      :global(.accordion-collapse) {
        background: transparent;
        border-top: $border;

        :global(.accordion-body) {
          padding: $space !important;
        }
      }
    }
  }

  .reset_wrapper {
    display: flex;
    font-size: 16px !important;
    justify-content: space-between;

    span {
      color: var(--primary-color);
      font-size: 13px;
      cursor: pointer;
    }
  }

  h2,
  h2 button {
    font-weight: 500 !important;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 14px !important;
    margin: 0;
    padding: $space;
    border-bottom: $border;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      font-size: 16px;
      align-items: center;
      display: flex;
      gap: $space;
      margin-bottom: 5px;

      label {
        color: var(--primary-text-color);
      }
    }
  }
}

.right_box {
  background-color: var(--white);
  padding-bottom: 0.1px;

  .filter_row {
    .bread_crumb {
      font-size: 14px;
      padding: 5px 0 5px $space;
      margin-top: 10px;

      a {
        color: $text-color-1;
        text-transform: capitalize;

        &:last-child {
          color: var(--primary-color);
        }

        &:hover {
          color: var(--primary-color);
        }
      }

      svg {
        height: 10px;
      }
    }

    .show_count {
      font-size: 16px;
      padding: 10px $space 5px $space;
    }

    .sort_by {
      padding: 5px $space 0px $space;
      border-bottom: $border;
      font-weight: 500;
      white-space: nowrap;
      display: flex;
      overflow: auto;

      :global(.active) {
        font-weight: 500;
        color: var(--primary-color) !important;
        padding-bottom: 5px;
        border-bottom: 2px solid var(--primary-color);
      }

      span {
        margin: 0 10px;
        font-weight: normal;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

.sticky_buttons {
  display: none;
  position: fixed;
  width: 100%;
  justify-content: center;
  gap: 1px;
  padding: 0;
  bottom: 0;
  left: 0;
  margin-top: 20px;

  button {
    border-radius: 0 !important;
    width: 100% !important;

    svg {
      margin-right: 10px;
      fill: var(--white);
    }
  }
}

.mobile_sort_body {
  // display: flex;
  label {
    display: block;
    margin-bottom: 10px;

    input {
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .filter_box {
    display: none;
  }

  .right_box {
    .filter_row {
      .bread_crumb {
        padding: 5px 10px 0 10px;
      }

      .sort_by {
        padding: 5px 10px;

        span {
          font-size: 12px;
          margin: 0 4px;
        }
      }
    }
  }

  .sticky_buttons {
    display: flex !important;
  }
}
